@import "tailwindcss";
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e7e4d2;
    color: #333;
}
div.div-layout {
    background-color: #e3d7bf;
}
main {
    background-color: #e5e3d8;
}
nav, footer {
    background-color: #9a5833;
}

